# Information Security - Assignment 1
Information Security/assignments/assignment-1/**/manual.md
Information Security/assignments/assignment-1/**/pyrefly.toml
Information Security/assignments/assignment-1/**/ruff.toml
Information Security/assignments/assignment-1/**/UNDERSTANDING.md
